
/* Allgemein */
.fl { float: left; }
.fr { float: right; }

.tac { text-align: center; }
.tar { text-align: right; }
.tal { text-align: left; }

.ml5 { margin-left: 5px; }
.ml20 { margin-left: 20px; }
.mr5 { margin-right: 5px; }
.mr20 { margin-right: 20px; }

.Clear{ clear:both; }

.bbr { border-bottom: 1px solid #cbcccc; border-right: 1px solid #cbcccc; }
.br { border-right: 1px solid #cbcccc; }
.bb { border-bottom: 1px solid #cbcccc; }

.resizeTrue { resize: both;}

/* Kennzeichner für Felder */
.labeling { font-size: 13px; font-style: italic; }
.elem_labeling { float: left; text-align: center; width: 99px; height: 40px; line-height: 20px; font-size: 13px; font-style: italic; }



/* Grundstruktur */
#Panel-Header {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    border-bottom: 1px solid #cbcccc;
}
#Panel-Elements-Wrapper {
    position: absolute;
    border-right: 1px solid #cbcccc;
    left: 0;
    top: 40px;
    bottom: 0;
    z-index: 11;
}
#Panel-Elements-Top-Bar {
    width: 199px;
    height: 35px;
    border-bottom: 1px solid #cbcccc;
    line-height: 35px;
}
#Panel-Elements {
    width: 200px;
    bottom: 0;
    left: 0;
    overflow-y: hidden !important;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
}
#Panel-Elements-BG {
    width: 199px;
    border-bottom: 1px solid #cbcccc;
    float: left;
}
#Panel-Elements-Items {
    width: 199px;
    height: 1600px;
    float: left;
}
#Panel-Elements-Bot-Debug {
    width: 199px;
    border-top: 1px solid #cbcccc;
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center;
}
#Panel-Elements-Bot-Bar {
    width: 199px;
    height: 29px;
    border-top: 1px solid #cbcccc;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}
#Panel-Editor-Header {
    border-bottom: 1px solid #cbcccc;
    height: 35px;
    left: 200px;
    line-height: 35px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 20;
}
#Panel-Editor {
    bottom: 30px;
    left: 200px;
    position: absolute;
    right: 0;
    top: 76px;
    z-index: 10
}
#Panel-Editor-Footer {
    background: #f7f7f7 none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    bottom: 0;
    height: 29px;
    left: 200px;
    position: absolute;
    right: 0;
    z-index: 15;
}




/* #Panel-Header Objekte */
.logo {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #cbcccc;
    text-align: center;
}

/* Panel-Editor Objekte*/
#ActElement { float: left; width: 200px; text-align: center; }
#ActElementOptions { float: left; }
#elem_width { width: 55px; height: 20px; }
#elem_height { width: 55px; height: 20px; }
.ActElemSetWH { width: 50px; height: 22px; margin-top: 7px; padding: 0; line-height: 18px; }
.filename { width: 100px; height: 20px; }
.SaveTabButton { width: 50px; height: 22px; margin-top: 7px; padding: 0; line-height: 18px; }

#tabs {
    border: none;
    margin: 10px;
}
.tab {
    width: 960px;
    height: 660px;
    z-index: 55;
}
.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
{
    background: #ececec;
    box-shadow: 2px 6px 6px 0 #d0d0d0;
}


/* Panel-Elements Objekte*/
.add_element {
    float: left;
    width: 99px;
    height: 79px;
    border-bottom: 1px solid #cbcccc;
    z-index: 999;
}
.wd_button   { background-color: lime; font-size: 40px; }
.wd_radio    { background-color: lime; font-size: 40px; }
.wd_check    { background-color: lime; font-size: 40px; }
.wd_input    { background-color: lime; font-size: 40px; }
.wd_dropdown { background-color: lime; font-size: 40px; }
.wd_table    { background-color: lime; font-size: 40px; }




/* ElementConfig: Popup für Modifikationen */
#ElementConfig {
    display: none;
    position: absolute;
    width: 240px;
    border: 1px solid #000000;
    z-index: 33;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}




/* -- unsused -- */
/* Panel-View */
#TreeStructure {
    background-color: #d58512;
}